@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
/* @import url(https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css); */
.body_mady {
	background-color: #7b52ab;
	color: white;
}
.container_mady {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
}
.season_tabs_mady {
	position: relative;
	min-height: 650px; /* This part sucks */
	clear: both;
	margin: 0px 170px;
}
.season_tab_mady {
	float: right; /*left*/
	clear: both;
	width: 50px;
}
.season_tab_mady label {
	background: #553285;
	padding: 1px;
	padding-top: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	font-size: 18px;
	vertical-align: middle;
	position: relative;
	left: 1px;
	width: 30px;
	height: 15%;
	/*display: table-cell;*/
}
.season_tab_mady [type="radio"] {
	display: none;
}
.season_content_mady {
	position: absolute;
	top: 0;
	left: 0; /*286px;*/
	background: rgb(211, 144, 255);
	right: 50px; /*0;*/
	bottom: 0;
	padding: 30px 50px;
	border: 1px solid #ccc;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
	opacity: 0;
	transform: scale(0.1);
	transform-origin: top left;
}
.season_content_mady span {
	animation: 0.5s ease-out 0s 1 slideInFromTop;
}
[type="radio"]:checked ~ label {
	background: #d390ff;
	/*border-bottom: 2px solid #8bc34a;*/
	z-index: 2;
}
[type="radio"]:checked ~ label ~ .season_content_mady {
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}
.text_vertical_mady {
	writing-mode: vertical-rl;

}
label {
	user-select: none;
	cursor: default;
}
.label_mady label:hover {
	background: #dfb1fd;
	color: #2f0d5f;
}